/* ==========================================================================
   Header Controller
   ========================================================================== */

@import "Variables";
@import (reference) "../mixins/Centering";

header.navbar {
    padding-top: 20px;
    padding-bottom: 14px;
    margin: 0;
    box-shadow: none;
    .navbar-header {
        #Centering.blockCenter();
        .logo img {
            max-width: 100%;
            #Centering.blockCenter();
        }
        @media (max-width: @snapsearch-nav-breakpoint) {
            .navbar-toggle {
                #Centering.blockCenter();
            }
        }
    }
    .navbar-nav{
        margin-top: 14px;
        #Centering.blockCenter();
        #Centering.listCenter(li);
        word-spacing: -8px;
        > li {
            font-size: 26px;
            font-family: "fira_sans_otbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        > li a {
            color: @snapsearch-link-dark;
            margin: 15px;
            padding: 0;
            &:hover{
                background: transparent;
                color: lighten(@snapsearch-link-dark, 5%);
            }
        }
        > li.active a {
            border-bottom: 3px solid @snapsearch-link-underline;
            background: transparent;
            box-shadow: none;
            text-shadow: none;
            color: @snapsearch-link-dark;
            line-height: inherit;
            display: inline;
            &:hover{
                background: transparent;
                color: lighten(@snapsearch-link-dark, 5%);
                border-color: lighten(@snapsearch-link-underline, 5%);
            }
        }
        > li button {
            color: @snapsearch-link-dark;
            font-size: inherit;
            border: none;
            border-radius: 0;
            margin: 0;
            background: none;
        }
    }
}