/* ==========================================================================
   Panels Controller
   ========================================================================== */

@import "Variables";
@import (reference) "../mixins/Panels";

.panel {
    #Panels.panelPadding();
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin: 0;
}

.panel_white {
    #Panels.panelBgColour(@snapsearch-white);
    .panel-heading, .panel-body {
        color: @snapsearch-text-dark;
    }
}

.panel_yellow {
    #Panels.panelBgColour(@snapsearch-yellow);
    .panel-heading, .panel-body {
        color: @snapsearch-text-dark;
    }
}

.panel_lego {
    #Panels.panelBgColour(@snapsearch-dark);
    #Panels.panelBgImg(url('../img/lego_bg.png'));
    .panel-heading, .panel-body {
        color: @snapsearch-text-light;
    }
}

.panel-title {
    font-size: 36px;
}