/* ==========================================================================
   Variables Controller
   ========================================================================== */

@snapsearch-white: #ffffff;
@snapsearch-yellow: #f4ac2e;
@snapsearch-dark: #32373a;

@snapsearch-nav-breakpoint: 768px;