///////////////
// CENTERING //
///////////////

#Centering {

    .blockCenter(){
        margin-right: auto;
        margin-left: auto;
        display: block;
        float: none;
    }

    .listCenter(@child){
        text-align: center;
        > @{child} {
            display: inline-block;
            float: none;
        }
    }

}

