/* ==========================================================================
   Panels Mixins
   ========================================================================== */

#Panels {

    .panelPadding(){
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .panelBgColour(@colour){
        background-color: @colour;
    }

    .panelBgImg(@img){
        background-image: @img;
        background-repeat: repeat;
    }

}