<div class="confirm-forgotten-password panel panel_lego panel_transition_yellow_dark">
    <div class="container">
        <div class="panel-heading">
            <h2 class="panel-title">Confirm Forgotten Password</h2>
        </div>
        <div class="panel-body row">
            <form class="confirm-forgotten-password-form" name="confirmForgottenPasswordForm" ng-show="showForm">
                <div 
                    class="form-group clearfix" 
                    ng-class="{
                        'has-error': confirmForgottenPasswordForm.newPassword.$invalid && confirmForgottenPasswordForm.newPassword.$dirty
                    }"
                >
                    <label class="control-label col-sm-3" for="confirmForgottenPasswordFormNewPassword">New Password:</label>
                    <div class="col-sm-9">
                        <input 
                            id="confirmForgottenPasswordFormNewPassword" 
                            class="form-control" 
                            type="password" 
                            name="newPassword" 
                            ng-model="user.newPassword" 
                            required 
                            ng-minlength="6" 
                            ng-maxlength="100" 
                        />
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPassword.$error.required">Required</span>
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPassword.$error.minlength">New Password is too short</span>
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPassword.$error.maxlength">New Password is too long</span>
                    </div>
                </div>
                <div 
                    class="form-group clearfix" 
                    ng-class="{
                        'has-error': confirmForgottenPasswordForm.newPasswordConfirm.$invalid && confirmForgottenPasswordForm.newPasswordConfirm.$dirty
                    }"
                >
                    <label class="control-label col-sm-3" for="confirmForgottenPasswordFormNewPasswordConfirm">New Password Confirm:</label>
                    <div class="col-sm-9">
                        <input 
                            id="confirmForgottenPasswordFormNewPasswordConfirm" 
                            class="form-control" 
                            type="password" 
                            name="newPasswordConfirm" 
                            ng-model="user.newPasswordConfirm" 
                            required 
                            ng-minlength="6" 
                            ng-maxlength="100" 
                            password-match="user.newPassword" 
                        />
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPasswordConfirm.$error.required">Required</span>
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPasswordConfirm.$error.minlength">New Password Confirm is too short</span>
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPasswordConfirm.$error.maxlength">New Password Confirm is too long</span>
                        <span class="help-block" ng-show="confirmForgottenPasswordForm.newPasswordConfirm.$error.passwordMatch">New Password Confirm doesn't match Password</span>
                    </div>
                </div>
                <div class="form-errors" ng-show="formErrors">
                    <em class="text-warning">Oops! Please fix up these errors:</em>
                    <ul class="form-errors-list">
                        <li class="form-errors-list-item alert alert-warning" ng-repeat="error in formErrors">{{error}}</li>
                    </ul>
                </div>
                <div class="form-success alert alert-success" ng-show="formSuccess">
                    {{formSuccess}}
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button class="btn btn-primary" ng-click="changePassword(user)" ng-disabled="confirmForgottenPasswordForm.$invalid || !confirmForgottenPasswordForm.$dirty">Change Password</button>
                    </div>
                </div>
            </form>
            <div ng-show="!showForm">
                <p class="text-center">This page is for changing passwords for users who have forgotten their passwords. You should probably go to the homepage!</p>
            </div>
        </div>
    </div>
</div>