<div class="control-panel panel panel_lego panel_transition_yellow_dark">
    <div class="container">
        <div class="panel-body row" ng-show="loggedIn">
            <div class="col-md-2">
                <nav class="btn-group-vertical control-panel-nav" affix affix-top="214" affix-bottom="910">
                    <a class="btn" ui-sref-active="active" ui-sref=".crawling">Crawling</a>
                    <a class="btn" ui-sref-active="active" ui-sref=".cache">Cache</a>
                    <a class="btn" ui-sref-active="active" ui-sref=".payments">Payments</a>
                    <a class="btn" ui-sref-active="active" ui-sref=".billing">Billing</a>
                    <a class="btn" ui-sref-active="active" ui-sref=".account">Account</a>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="control-box">
                    <div ui-view></div>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="loggedOut">
            <p>You must be logged in to view this page!</p>
        </div>
    </div>
</div>