<div class="documentation panel panel_lego panel_transition_yellow_dark">
    <div class="container">
        <div class="panel-heading">
            <h2 class="panel-title">Documentation</h2>
        </div>
        <div class="panel-body row">
            <div class="col-md-2">
                <nav class="btn-group-vertical control-panel-nav" affix affix-top="214" affix-bottom="910">
                    <a class="btn" scroll="introduction">Introduction</a>
                    <a class="btn" scroll="apiUsage">API Usage</a>
                    <a class="btn" scroll="requestParameters">Request Parameters</a>
                    <a class="btn" scroll="middleware">Middleware</a>
                    <a class="btn" scroll="notes">Notes</a>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="documentation-box">
                    <div class="documentation-information">
                        <h3 anchor="introduction">Introduction</h3>
                    </div>
                    <div class="documentation-information">
                        <h3 anchor="apiUsage">API Usage</h3>
                    </div>
                    <div class="documentation-information">
                        <h3 anchor="requestParameters">Request Parameters</h3>
                    </div>
                    <div class="documentation-information">
                        <h3 anchor="middleware">Middleware</h3>
                    </div>
                    <div class="documentation-information">
                        <h3 anchor="notes">Notes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>