<div class="documentation panel panel_lego panel_transition_yellow_dark">
    <div class="container">
        <div class="panel-body row">
            <div class="col-md-2">
                <nav class="btn-group-vertical documentation-nav" affix affix-top="214" affix-bottom="910">
                    <a class="btn" scroll="introduction">Introduction</a>
                    <a class="btn" scroll="apiUsage">API Usage</a>
                    <a class="btn" scroll="middleware">Middleware</a>
                    <a class="btn" scroll="notes">Notes</a>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="documentation-box">
                    <div class="documentation-information">
                        <h3 class="documentation-title" anchor="introduction">Introduction</h3>
                        <p>Snapsearch is a search engine optimisation (SEO) and robot proxy for complex front-end javascript & AJAX enabled (potentially realtime) HTML5 web applications.</p>
                        <p>Search engines like <a href="https://developers.google.com/webmasters/ajax-crawling/" target="_blank" title="Google's AJAX Crawling Specification">Google's crawler and HTTP scrapers such as Facebook's image extraction robot cannot execute complex javascript applications</a>. This include websites using javascript frameworks such as AngularJS, EmberJS, KnockoutJS, Backbone.js, jQuery, Meteor and much more.</p>
                        <p>Snapsearch's middleware detects and intercepts requests made by search engines, then sends its own javascript enabled scrapers to cache a snapshot of your web page. The snapshot is seamlessly and transparently passed back to the search engine through your web application. This <a href="https://developers.google.com/webmasters/ajax-crawling/docs/html-snapshot" target="_blank" title="Google's Suggested Snapshot Method for AJAX Sites">method is supported by Google</a> so you're not in violation of any rules.</p>
                        <p>Snapsearch powered by Mozilla Firefox instances. Theses browsers are kept up to date with the <strong>rapid 6 week release cycles from Mozilla</strong>. We'll always be able to serve the latest in HTML5 technology. This is an advantage over using something like PhantomJS which is affected by the slower and spurious QtWebKit engine development cycle.</p>
                        <div class="alert alert-info">
                            <p><strong>Attention:</strong> Sites using hashbang URLs such as <code>http://domain/#/path...</code>, need to add a special meta tag. Please see our <a scroll="notes-hashbangUrls">notes on hashbang urls</a>.</p>
                        </div>
                    </div>
                    <div class="documentation-information">
                        <h3 class="documentation-title" anchor="apiUsage">API Usage</h3>
                        <p>SnapSearch's API is designed to be very simple and can be used by itself or with our provided <a scroll="middleware">middleware</a>. All API endpoints are SSL encrypted and require HTTP Basic Authorization using your registered Email as the username, and the API Key as the password.</p>
                        <p>API endpoints extend from <code>https://snapsearch.io/</code></p>
                        <div class="api-endpoint">
                            <h4 class="api-title">Robot</h3>
                            <div class="row api-explanation">
                                <div class="col-md-6">
                                    <div class="api-url">
                                        <p><strong>Path</strong></p>
                                        <pre><code><strong>GET/POST:</strong> api/v1/robot</code></pre>
                                    </div>
                                    <div class="api-parameters">
                                        <p><strong>Parameters</strong></p>
                                        <ul class="api-parameters-metadata">
                                            <li>
                                                <span>Format:</span>
                                                <ul>
                                                    <li>GET Query Parameters</li>
                                                    <li>POST JSON Body</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div accordion class="api-parameter-accordion" close-others="false">
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> url</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>null</dd>
                                                    <dt>Possible Values:</dt><dd>Any valid URL</dd>
                                                    <dt>Required:</dt><dd>True</dd>
                                                    <dt>Description:</dt><dd>URL to scrape. This is the only required parameter.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> useragent</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>Mozilla/5.0 ({OPERATINGSYSTEM}) Gecko/{VERSION} Firefox/{VERSION} SnapSearch</dd>
                                                    <dt>Possible Values:</dt><dd>Any textual string</dd>
                                                    <dt>Description:</dt><dd>Customise the user agent. Warning: setting this user agent to something that does not include "SnapSearch" can cause an infinite interception loop.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> width</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>1280</dd>
                                                    <dt>Possible Values:</dt><dd>200 <= X <= 4000</dd>
                                                    <dt>Description:</dt><dd>Change the window width of the Robot. Can be used if you have specific requirements regarding the dimensions of the browser.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> height</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>1024</dd>
                                                    <dt>Possible Values:</dt><dd>200 <= X <= 4000</dd>
                                                    <dt>Description:</dt><dd>Change the window height of the Robot. Can be used if you have specific requirements regarding the dimensions of the browser. This can be useful for sites implementing infinite scrolling, so more content can be loaded on the page.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> imgformat</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>png</dd>
                                                    <dt>Possible Values:</dt><dd>png</dd>
                                                    <dt>Description:</dt><dd>Is used in conjunction with <code>screenshot</code> parameter. Currently only supports png format. </dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> screenshot</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>false</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Scrape a screenshot, this screenshot is rendered from the browser's dimensions. The screenshot is returned as a base 64 encoded string. It's format is determined by the <code>imgformat</code> parameter.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> navigate</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>false</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Follow redirections. In most cases you do not want to follow redirects. If you leave this false, it will return the status, headers and body of the page asking for a redirect. If you switch this to true, it will follow header, client side, javascript, and meta tag redirects.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> loadimages</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>false</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Loading images. Loading images is not required when doing content scraping, leaving this off results in faster scrapes. However if you are taking screenshots, then you should switch this to true.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> javascriptenabled</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>true</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Process javascript or not. Can be used in circumstances where you don't want to process javascript.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> totaltimeout</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>30000</dd>
                                                    <dt>Possible Values:</dt><dd>10000 <= X <= 30000</dd>
                                                    <dt>Description:</dt><dd>Maximum millisecond timeout for the entire request task. This determines how long before the entire request task is considered a failure. At which point the robot will cancel the task and return everything it has managed to scrape.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> maxtimeout</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>5000</dd>
                                                    <dt>Possible Values:</dt><dd>1000 <= X <= 15000</dd>
                                                    <dt>Description:</dt><dd>Maximum millisecond timeout for asynchronous requests. This determines how long the browser will wait for asynchronous requests to finish. This means the browser will initiate the capture of the page contents either when all asynchronous requests finish, or at the maximum timeout. Longer times will result in potentially slower scrapes, but may capture more content if your site produces many slow asynchronous requests. If you set it too long, the client search engine robot may timeout. Play with this setting to the most optimal scraping speed.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> initialwait</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>1000</dd>
                                                    <dt>Possible Values:</dt><dd>1000 <= X <= 15000</dd>
                                                    <dt>Description:</dt><dd>Initial millisecond wait before checking asynchronous requests. This determines how long the browser will wait before it starts to check for when the asynchronous requests finish. The <code>maxtimeout</code> only begins onces the <code>initialwait</code> finishes. This is intended to allow delayed asynchronous requests or for pages which don't have asynchronous requests but have DOM mutations. The number has to be lower than <code>maxtimeout</code></dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> callback</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>null</dd>
                                                    <dt>Possible Values:</dt><dd>Any javascript executable string</dd>
                                                    <dt>Description:</dt><dd>This javascript string is evaled on the page after all asynchronous requests have finished but prior to the capture of the page contents. This allows you to execute DOM mutations or capture specific content. <strong>You can assume this string is executed in the context of an anonymous function.</strong> Therefore this code is valid: <code>return 'hello world';</code>. You must return a string. Objects should be serialized into JSON. DOM node objects cannot be serialized and returned, you must first convert them to textual strings. These returned values will be stored in the <code>callbackResult</code> property in the response.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> meta</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>true</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Scrape for custom meta tags or not. You can use custom meta tags to change the status code or add custom headers to the scraped snapshot. This is intended for soft 404 techniques. It will look for meta tags such as <code>&lt;meta name=&quot;snapsearch-status&quot; content=&quot;404&quot; /&gt;</code> and <code>&lt;meta name=&quot;snapsearch-header&quot; content=&quot;Content-Type:text/html&quot; /&gt;</code></dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> cache</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>true</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>Allow caching of the snapshot or not. This determines two things. The first is whether the snapshot can be acquired from the cache. The second is whether the snapshot should be cached. If this is left as true, snapshots can be returned from the cache if it exists in the cache and they will be cached if it is a fresh snapshot. If this is switched to false, snapshots will always be fresh and the result will not be cached.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> cachetime</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>24</dd>
                                                    <dt>Possible Values:</dt><dd>1 <= X <= 200</dd>
                                                    <dt>Description:</dt><dd>Cache time in hours. This determines how long until the snapshots expire. A shorter cache time will result in more up to date snapshots, but it will use up more of your usage cap. Longer cache time will result in less up to date snapshots, but it will conserve your usage cap. This figure will depend on how often your pages change, and what proportion of those pages are changing compared to the rest of the website.</dd>
                                                </dl>
                                            </accordion-group>
                                            <accordion-group>
                                                <accordion-heading><i class="glyphicon glyphicon-chevron-right"></i> test</accordion-heading>
                                                <dl class="dl-horizontal api-parameter-properties">
                                                    <dt>Default:</dt><dd>false</dd>
                                                    <dt>Possible Values:</dt><dd>true|false</dd>
                                                    <dt>Description:</dt><dd>If you're in development mode or on localhost, set this to true, and it will only validate your request parameters, but not attempt to actually scrape anything.</dd>
                                                </dl>
                                            </accordion-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="api-description">
                                        <p><strong>Description</strong></p>
                                        <p>This Robot endpoint allows you command our robots to scrape anything on the web. Requests must come with HTTP Basic authorization. Responses can be raw uncompressed text or gzip compressed output depending on your <code>Accept</code> headers. Cached snapshots are indexed by a checksum of your request parameters. Therefore different request parameters using the same url will have different cached snapshots.</p>
                                    </div>
                                    <div class="api-request">
                                        <p><strong>Example Request</strong></p>
                                        <syntax class="api-code" syntax-language="http">POST /api/v1/robot HTTP/1.1
Accept: application/json
Accept-Encoding: gzip, deflate, compress
Authorization: Basic RGVtbzpEZW1vUGFzc3dvcmRLZXk=
Content-Type: application/json; charset=utf-8
Host: snapsearch.io

{
    "url": "http://google.com"
}</syntax>
                                    </div>
                                </div>
                            </div>
                            <div class="api-responses">
                                <div class="api-response">
                                    <p><strong>Successful Response</strong></p>
                                    <syntax class="api-code" syntax-language="http">HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Cache-Control: no-cache
Connection: keep-alive
Content-Encoding: gzip
Content-Type: application/json
Transfer-Encoding: chunked
Vary: Accept-Encoding

{
    "code": "success",
    "content": {
        "cache"             =&gt; true/false,
        "callbackResult"    =&gt; "",
        "date"              =&gt; 1390382314,
        "headers"           =&gt; [
            [
                "name"  =&gt; "Content-Type",
                "value" =&gt; "text/html"
            ]
        ],
        "html"              =&gt; "&lt;html&gt;&lt;/html&gt;",
        "message"           =&gt; "Success/Failed/Validation Errors",
        "pageErrors"        =&gt; [
            [
                "error"   =&gt; "Error: document.querySelector(...) is null",
                "trace"   =&gt; [
                    [
                        "file"      =&gt; "filename",
                        "function"  =&gt; "anonymous",
                        "line"      =&gt; "41",
                        "sourceURL" =&gt; "urltofile"
                    ]
                ]
            ]
        ],
        "screensot"         =&gt; "BASE64 ENCODED IMAGE CONTENT",
        "status"            =&gt; 200
    }
}</syntax>
                                </div>
                                <div class="api-response">
                                <p><strong>Failed Validation Error Response</strong></p>
                                    <syntax class="api-code" syntax-language="http">HTTP/1.1 400 Bad Request
Cache-Control: no-cache
Connection: keep-alive
Content-Type: application/json
Transfer-Encoding: chunked

{
    "code": "validation_error",
    "content": [
        "&lt;request parameter name&gt;": "&lt;request parameter error message&gt;"
    ]
}</syntax>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="documentation-information">
                        <h3 class="documentation-title" anchor="middleware">Middleware</h3>
                        <p>SnapSearch officially supports and provides PHP, Ruby, Node.js and Python middleware. All middleware are framework agnostic, and should be able to work within a middleware framework or without.</p>
                        <ul>
                            <li><a href="https://github.com/SnapSearch/SnapSearch-Client-PHP">PHP</a> - 1.1.0</li>
                            <li><a href="https://github.com/SnapSearch/SnapSearch-Client-Ruby">Ruby</a> - 1.0.0</li>
                            <li><a href="https://github.com/SnapSearch/SnapSearch-Client-Node">Node.js</a> - 0.0.2</li>
                            <li><a href="https://github.com/SnapSearch/SnapSearch-Client-Python">Python</a> - 0.0.7</li>
                        </ul>
                        <p>These libraries first automatically detect if an HTTP request comes from a search engine or robot. If it is indeed a search engine, it sends an HTTP POST request to <code>https://snapsearch.io/api/v1/robot</code> passing in parameters configuring how SnapSearch's robot should extract your content. SnapSearch will then send a HTTP GET request to the same URL and return the HTTP response (status code, headers and content) as a JSON response to the library. The client library then returns that data back to your application. You will have to select which data to present to the search engine. It is recommended to return the status code and content but not all of the headers, due to potential header mismatch with content encoding. However if you have specific headers that are important, then first test if it works with a simple HTTP client before deploying it.</p>
                        <p>All of the middleware are open source, and we welcome pull requests for patches or new middleware implementations. Check out our <a href="https://github.com/SnapSearch/">Github organisation</a> for more.</p>
                    </div>
                    <div class="documentation-information">
                        <h3 class="documentation-title" anchor="notes">Notes</h3>
                        <h4 class="documentation-sub-title" anchor="notes-hashbangUrls">Hashbang Urls</h4>
                        <p>Make sure you are using hash bang urls and not just hash urls. This fits with <a href="https://developers.google.com/webmasters/ajax-crawling/docs/specification" target="_blank">Google's AJAX Crawling Scheme</a>. It makes it easier to identify what is a hash, and what is meant to be path. Remember hash fragments are never passed to the server. The middleware needs to know the full HTTP url or else it won't know where to scrape. This means you will need to rely on the search engine robots to convert hash bang urls to query fragment urls. <strong>This meta tag will need to be on every page: <code>&lt;meta name=&quot;fragment&quot; content=&quot;!&quot; /&gt;</code></strong>. If you are using HTML 5 push state urls, the meta tag is still a good practice as it allows search engines following the AJAX specification to know that your site is a single page application.</p>
                        <h4 class="documentation-sub-title">Dealing with non-HTML resources</h4>
                        <p>You need to make sure that non-HTML resources are not intercepted by SnapSearch. Non-HTML resources refer to:</p>
                        <ul>
                            <li>Static files that are served through your application and not through an HTTP server such as NGINX or Apache.</li>
                            <li>Downloads that served through an application level controller.</li>
                            <li>Text data interchange formats that are not meant to be used for the end user's browser. For example: JSON, XML, RSS... etc.</li>
                            <li>API resources that don't display the front end site, but are there for interaction between machines.</li>
                            <li>Any connections that do not go through the HTTP protocol.</li>
                        </ul>
                        <p>You can prevent SnapSearch from intercepting these non-HTML resources by:</p>
                        <ul>
                            <li>Setup an array of whitelisted or blacklisted regular expression routes which will be matched against the request URL. SnapSearch will not intercept any routes that are not on the whitelist or any routes that are on the blacklist. This is done programmatically via the supplied middleware.</li>
                            <li>SnapSearch middleware can optionally check if the URL path has an invalid file extension. Some extensions are valid for HTML resources such as <code>.html</code>, but others such as <code>.js</code> are not. Our middleware has an option to switch on this detection and it will ignore requests that go invalid extensions. It is left off by default.</li>
                            <li>In MVC style applications that do not serve binary files, you may have a single controller which is responsible for displaying the front end code. If you execute our middleware inside these particular controllers, then you will not have any problems with non-HTML resources, since it can only intercept requests that go to the front end.</li>
                        </ul>
                        <h4 class="documentation-sub-title">SSL issues</h4>
                        <p>SnapSearch is not currently able to scrape sites that have invalid SSL certificates. We are currently working on this problem.</p>
                        <h4 class="documentation-sub-title">Flash Support</h4>
                        <p>Our robots can support flash. At this moment the flash plugin is not installed. However we are going to be adding this feature soon. Note that flash movies will not appear on any screenshots.</p>
                        <h4 class="documentation-sub-title">Supporting JS disabled Browsers</h4>
                        <p>It's not possible to detect if the HTTP client supports Javascript on the first page load. Therefore you have to know the user agents beforehand. A workaround involves the HTML Meta Refresh tag. You set an HTML meta refresh tag which will refresh the browser and point it to the same url but with query parameter indicating to the server that the client doesn't run javascript. This meta refresh tag can be then be cancelled using javascript. Another approach would be to use the Noscript tag and place the meta refresh tag there. None of these methods are guaranteed to work. but if you're interested check out: <a href="http://stackoverflow.com/q/3252743/582917" target="_blank">http://stackoverflow.com/q/3252743/582917</a></p>
                        <h4 class="documentation-sub-title">Ensuring Analytics Works with Snapsearch</h4>
                        <p>When Snapsearch visits your site, it will come with a UserAgent containing "SnapSearch". You can however configure this to your own liking. Use this user agent in order to filter out our requests when using web analytics.</p>
                        <h4 class="documentation-sub-title">Soft 404s</h4>
                        <p>Soft 404s should be avoided. The final representation to the search engine should be exactly the same as normal user with a normal browser would see. However you can achieve this by using the special meta tags and switching <code>meta</code> request parameter to true.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>