<div class="modal-header">
    <h3>Log In</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="loginForm">
        <div 
            class="form-group clearfix" 
            ng-class="{
                'has-error': loginForm.email.$invalid && loginForm.email.$dirty
            }"
        >
            <label class="control-label col-sm-2" for="loginFormEmail">Email:</label>
            <div class="col-sm-10">
                <input id="loginFormEmail" class="form-control" type="email" name="email" ng-model="user.email" required ng-maxlength="100" />
                <span class="help-block" ng-show="loginForm.email.$error.required">Required</span>
                <span class="help-block" ng-show="loginForm.email.$error.maxlength">Email is too long</span>
                <span class="help-block" ng-show="loginForm.email.$error.email">Email is invalid</span>
            </div>
        </div>
        <div 
            class="form-group clearfix"
            ng-class="{
                'has-error': loginForm.password.$invalid && loginForm.password.$dirty
            }"
        >
            <label class="control-label col-sm-2" for="loginFormPassword">Password:</label>
            <div class="col-sm-10">
                <input 
                    id="loginFormPassword" 
                    class="form-control" 
                    type="password" 
                    name="password" 
                    ng-model="user.password" 
                    required 
                    ng-minlength="6" 
                    ng-maxlength="100" 
                />
                <span class="help-block" ng-show="loginForm.password.$error.required">Required</span>
                <span class="help-block" ng-show="loginForm.password.$error.minlength">Password is too short</span>
                <span class="help-block" ng-show="loginForm.password.$error.maxlength">Password is too long</span>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="autologin" ng-model="user.autologin"> Remember Me
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="form-errors" ng-show="formErrors">
        <em class="text-warning">Oops! Please fix up these errors:</em>
        <ul class="form-errors-list">
            <li class="form-errors-list-item alert alert-warning" ng-repeat="error in formErrors">{{error}}</li>
        </ul>
    </div>
    <div class="form-success alert alert-success" ng-show="formSuccess">
        {{formSuccess}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="login(user)" ng-disabled="loginForm.$invalid">Log In</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>