<div class="billing">
    <h2 class="control-title">Billing Information</h2>
    <em class="api-key">API Key: {{userAccount.sharedKey}}</em>
    <div class="telemetry-block">
        <h3>Billing Cards</h3>
        <button class="btn btn-primary telemetry-button" ng-click="modal.cardCreate()">Add Card</button>
        <div class="table-responsive" ng-show="billingRecords">
            <table class="table table-striped table-hover">
                <thead>
                    <th class="text-center">#</th>
                    <th class="text-center">Card Number Hint</th>
                    <th class="text-center">Active</th>
                    <th class="text-center">Invalid</th>
                    <th class="text-center">Delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="card in billingRecords">
                        <td class="text-center">{{card.id}}</td>
                        <td class="text-center">{{card.cardHint}}</td>
                        <td class="text-center">{{card.active}}</td>
                        <td class="text-center">{{card.invalid}} {{card.invalidReason}}</td>
                        <td class="text-center"><button class="btn btn-warning" ng-click="deleteCard(card.id, $index)">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center" ng-hide="billingRecords"><strong>No cards!</strong></p>
    </div>
</div>