<div class="billing">
    <h2 class="control-title">Billing Information</h2>
    <em class="api-key">API Key: {{userAccount.sharedKey}}</em>
    <div class="telemetry-block">
        <h3>Billing Cards</h3>

        <div class="form-success alert alert-success" ng-show="stripeBillingBackendSuccess">
            {{stripeBillingBackendSuccess}}
        </div>

        <div class="form-errors" ng-show="stripeBillingBackendErrors">
            <em class="text-warning">Oops! Please fix up these errors:</em>
            <ul class="form-errors-list">
                <li class="form-errors-list-item alert alert-warning" ng-repeat="error in stripeBillingBackendErrors">{{error}}</li>
            </ul>
        </div>

        <p>Card data and Payments are processed by <a href="https://stripe.com/" target="_blank">Stripe</a></p>

        <button class="btn btn-primary telemetry-button" ng-click="cardCreate()" ng-hide="billingRecords">Add Card</button>
        
        <button class="btn btn-info telemetry-button" ng-click="cardUpdate(billingRecords[0].id)" ng-show="billingRecords">Update Card</button>

        <button class="btn btn-danger telemetry-button" ng-click="cardDelete(billingRecords[0].id)" ng-show="billingRecords">Delete Card</button>

        <!-- Assuming only 1 card -->
        <div ng-show="billingRecords">
            <ul>
                <li>Card Number Hint: {{billingRecords[0].cardHint}}</li>
                <li>Active: {{billingRecords[0].active | booleanStyle:'Active':'Inactive'}}</li>
                <li>Status: {{billingRecords[0].validation}}</li>
            </ul>
        </div>

        <p class="text-center" ng-hide="billingRecords"><strong>No cards!</strong></p>

    </div>
</div>