<div class="cache">
    <h2 class="control-title">Cache Statistics</h2>
    <em class="api-key">API Key: {{userAccount.sharedKey}}</em>
    <div class="telemetry-block">
        <h3>Overview</h3>
        <div class="tally-block tally_block_cache tally_block_single">
            <span class="tally-bg">S</span>
            <p class="tally-number">{{snapshotCount}}</p>
        </div>
        <p class="tally-description">Snapshots Cached</p>
    </div>
    <div class="telemetry-block">
        <h3>Cache Priming</h3>
        <form class="cache-form form-horizontal" name="cacheForm">
            <div 
                class="form-group" 
                ng-class="{
                    'has-error': cacheForm.url.$invalid && cacheForm.url.$dirty
                }"
            >
                <div class="input-group input-group-lg">
                    <input 
                        class="form-control" 
                        type="url" 
                        name="url" 
                        ng-model="cache.url" 
                        required 
                        placeholder="http://your-site.com/" 
                    />
                    <span class="input-group-btn">
                        <button 
                            class="btn btn-primary" 
                            type="submit" 
                            ng-disabled="cacheForm.$invalid" 
                            ng-click="primeCache(cache)" 
                        >
                            Prime
                        </button>
                    </span>
                </div>
                <span class="help-block text-center">Priming a snapshot is counted as a usage.</span>
                <span class="help-block text-center" ng-show="cacheForm.url.$error.url">Invalid URL</span>
            </div>
            <div 
                class="form-group"
                ng-class="{
                    'has-error': cacheForm.parameters.$invalid && cacheForm.parameters.$dirty
                }"
            >
                <label for="cacheFormParameters">Request Parameters</label>
                <textarea 
                    id="cacheFormParameters" 
                    class="form-control" 
                    name="parameters"
                    ng-model="cache.parameters" 
                    placeholder='{ "parameterKey": "parameterValue" }' 
                    json-checker 
                ></textarea>
                <span class="help-block text-center">Setup custom <a href="documentation#parameters" target="_blank">request parameters</a>, it should be in JSON.</span>
                <span class="help-block text-center" ng-show="cacheForm.parameters.$error.jsonChecker">Invalid JSON</span>
            </div>
            <div class="form-errors" ng-show="formErrors">
                <em class="text-warning">Oops! Please fix up these errors:</em>
                <ul class="form-errors-list">
                    <li class="form-errors-list-item alert alert-warning" ng-repeat="error in formErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-success alert alert-success" ng-show="formSuccess">
                {{formSuccess}}
            </div>
        </form>
    </div>
    <div class="telemetry-block">
        <h3>Cached Snapshots</h3>
        <div class="telemetry-buttons button-group">
            <button class="btn btn-primary" type="button" ng-click="backwardCache()">Backward</button>
            <button class="btn btn-primary" type="button" ng-click="forwardCache()">Forward</button>
        </div>
        <div class="table-responsive" ng-show="snapshots">
            <table class="table table-striped table-hover">
                <thead>
                    <th class="text-center">#</th>
                    <th class="text-center">URL</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Snapshot</th>
                    <th class="text-center">Delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="snapshot in snapshots">
                        <td class="text-center">{{snapshot.id}}</td>
                        <td class="text-center">{{snapshot.url}}</td>
                        <td class="text-center">{{snapshot.date}}</td>
                        <td class="text-center"><button class="btn btn-info" ng-click="viewSnapshot(snapshot.id)">snapshot</button></td>
                        <td class="text-center"><button class="btn btn-warning" ng-click="deleteSnapshot(snapshot.id, $index)">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center" ng-show="!snapshots"><strong>No snapshots!</strong></p>
    </div>
</div>